# Sesi 1 - Basic Python, Data Types, dan Variables

## Basic Python
Kita perlu menyiapkan file tipe .ipynb atau .py untuk mulai mengetik code Python

Untuk mengetik code Python kita bisa menulis keyword, atau data. keyword termasuk:
- print - untuk mencetak data yang ada ke display

## Data Types
primitive data type di Python termasuk:
- integer (numerik, bulat, 1 2 3, tidak ada decimal point)
- float (numerik, tidak bulat, 1.0, 2.43, 3.435, 0.0, asal ada decimal point nya)
- string (text, non numerik, pakai kutip bikinnya, '' "")
- boolean (true false)

In [ ]:
# comment tidak termasuk code, cuma catatan di kotak code
# integer
1
2
3
4
654894651615279521975621617982179625176952186975278567451268572

654894651615279521975621617982179625176952186975278567451268572

code yang kita jalankan dengan klik di atas kiri kotak code, atau shift+enter di kotak code, hanya dikasih lihat line terakhir saja.

data di baris terakhir saja yang di display.

karena itu, kita gunakan `print()` untuk menampilkan data ke display.

In [ ]:
print(1)
print(10)
print(-654684)
print(99999999)

1
10
-654684
99999999

untuk mengecek tipe data, kita gunakan `type()`

In [ ]:
type(1)

int

In [ ]:
type(763542)

int

kita bisa menggunakan print dan type berbarengan untuk mendisplay type sebuah data

In [ ]:
print(type(763542))

<class 'int'>

class adalah data type. kita bisa bikin data type custom, misalkan kita buat tipe data khusus "red" "yellow" "green" tiga text ini menjadi tipe data "color" itu bisa bisa aja, dengan menggunakan class.

tapi kita tidak akan mempelajari cara buat custom data type di kelas ini.

In [ ]:
# float
print(type(0.0))

# string
print(type(""))

# boolean
print(type(True))
print(type(False))

<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

demikian 4 tipe data paling mendasar: int, float, str, bool

- integer
- floating-point number
- string
- boolean

## Variable
variable adalah cara kita memegang data yang sudah diketik tadi

peraturan membuat variable:
- mulai dengan alphabet + berikan "=" lalu datanya
- huruf kecil semua + kalau ada spasi, kita ganti jadi _
- berbeda dengan keyword python

contoh:
```python
nilai_andi = 23
```

In [ ]:
8hacktiv

SyntaxError: ignored

In [ ]:
nilai=32

jadilah sebuah variable nilai yang menyimpan data, integer dengan value 32

variable yang sudah jadi, bisa dipanggil lagi, pakai saja namanya

In [ ]:
nilai

32

In [ ]:
print(nilai)

32

In [ ]:
type(nilai)

int

In [ ]:
print(type(nilai))

<class 'int'>

python tidak peduli dengan cAsE, huruf besar huruf kecil dia anggap berbeda, jadi:

In [ ]:
Nilai = 1
nIlai = 2
nilaI = 3
NILAI = 4
NIlai = 5

# bagi python di atas adalah 5 variable berbeda
# bagi kita, manusia, semuayna nilai, bikin bingung aja huruf besar yang mana, huruf kecil yang mana

print(Nilai)
print(nIlai)
print(nilaI)
print(NILAI)
print(NIlai)
print(nilai)

1
2
3
4
5
32

kalau ada spasi, si python kirain nama variable udah selesai, jadi kita tempel dengan _

In [ ]:
nilai andi = 80

SyntaxError: ignored

In [ ]:
nilai_andi = 80

kalau kita gunakan keyword python sebagai variable, misalnya:
- print
- type
- True
- False

kita akan kehilangan fungsi keyword tersebut karena tertimpa jadi variable, atau kita akan ketemu error

contoh:
```python
print = "halo"
print("asd")
```
code diatas akan memberi error `'str' object is not callable` yang artinya dia tidak bisa menggunakan print, karena print adalah sebuah string, tidak bisa dipakai untuk hal lain

kita sudah menimpa keyword print yang tadinya bisa digunakan untuk display data menjadi variable biasa

In [ ]:
True = 123

SyntaxError: ignored

### Latihan pendek
Cobalah buat beberapa variable untuk menyimpan data. misalakan:
- variable nama, untuk simpan nama kita (str)
- variable nilai, untuk simpan angka nilai (int/ float)
- variable kacamata, untuk simpan boolean kita pakai kacamata atau tidak (boolean)

In [ ]:
nama = "Stefani"
nilai = 90
kacamata = False

variable yang sudah dibuat, bisa kita ganti isinya, dengan "re-assign"

```python
# pembuatan nama variable baru
nama_variable = data_lama

# data lama akan tertimpa
nama_variable = data_baru
```

variable di python tidak peduli dengan tipe data yang dia pegang.

nilai yang awalnya kita isi integer, bisa kita ganti jadi string, atau float, atau boolean.

## CRUD
C - create, cara bikin data baru

R - read, cara baca data

U - update, cara ubah data

D - delete, cara hapus data

biasanya kita perlu mengetahui 4 cara untuk manipulasi data tipe baru, yang kita baru pelajari

In [ ]:
# integer
# create
nilai = 100

# read
print(nilai)

# update
nilai = 98

# delete
# del nilai # kita bisa hapus variable, tapi tidak di rekomen
# assign ke angka 0 saja
nilai = 0

100

In [ ]:
print(nilai)

0

selain crud, kita belajar juga cara pakai datanya.

untuk integer, kita bisa gunakan operator aritmatika untuk berhitung.

*   \+ tambah
*   \- kurang
*   \/ bagi
*   \* kali
*   \** pangkat

In [ ]:
hasil = (1 + 2) * 3 / 4 **5
print(hasil)
print(type(hasil))

0.0087890625
<class 'float'>

In [ ]:
hasil = 5 + 3
print(hasil)
print(type(hasil))

8
<class 'int'>

float dan integer hampir sama, CRUD nya sama, dan bisa digunakan untuk aritmatik juga. float dan integer bisa dicampur untuk aritmatik, tapi hasilnya selalu float

In [ ]:
hasil = 5 + 3.0
print(hasil)
print(type(hasil))

8.0
<class 'float'>

## Tukar tipe data
kita bisa konversi tipe data satu ke lainnya menggunakan keyword tipe data tersebut:
- `int` untuk mengubah ke int
- `float` untuk mengubah ke float
- `str` untuk mengubah ke string
- `bool` untuk mengubah ke boolean

In [ ]:
print(hasil)
print(type(hasil))

8.0
<class 'float'>

In [ ]:
h2 = int(hasil)
print(h2)
print(type(h2))

8
<class 'int'>

kita masuk ke string dulu baru balik ke konversi tipe data

In [ ]:
# string
# create
msg = "halo"
msg = 'halo juga' # update

# read
print(msg)

# delete
msg = ""
msg = ''

halo juga

In [ ]:
# boolean
# create
kacamata = True

# update
kacamata = False

# read
print(kacamata)

# delete
kacamata = False

False

## Falsy
kita set data ke arah false, sebagai default valuenya, saat kita mau hapus data tersebut

falsy adalah data yang dianggap `False` oleh python
- 0
- 0.0
- ""
- False

selain data di atas, semua data lain dianggap `True` oleh python

In [ ]:
print(nilai, hasil, msg, kacamata)

0 8.0  False

In [ ]:
# konversi ke boolean
print(bool(nilai)) # integer 0
print(bool(0.0)) # float 0.0
print(bool(msg)) # string ""
print(bool(False)) # boolean False

False
False
False
False

In [ ]:
# konversi ke float
print(float(12)) # integer
print(float("12.5")) # string, tapi string harus isi angka saja. kalau ada text, akan error
print(float("12")) # string
print(float(True)) # boolean

12.0
12.5
12.0
1.0

In [ ]:
# konversi ke integer
print(int(12.5)) # float
print(int("12")) # string, tapi string harus isi angka integer saja. kalau ada text, atau ada decimal point, akan error
print(int(True)) # boolean

12
12
1

In [ ]:
# konversi ke string
print(str(12)) # integer
print(str(12.5)) # float
print(str(True)) # boolean

12
12.5
True

kita sudah cobain semua basic/ primitive data types nya

1. berikutnya, kita bisa coba manipulasi string
2. lalu kita bisa belajar structured data types

## manipulasi string

In [ ]:
"abcd"

'abcd'

In [ ]:
msg = "Saya mau BELAJAR bahasa Python dengan Hacktiv8!! Biar bisa Data Science~~"
print(msg)

Saya mau BELAJAR bahasa Python dengan Hacktiv8!! Biar bisa Data Science~~

In [ ]:
# ubah caps

# UPPER CASE
print(msg.upper())

SAYA MAU BELAJAR BAHASA PYTHON DENGAN HACKTIV8!! BIAR BISA DATA SCIENCE~~

In [ ]:
# lowercase
print(msg.lower())

saya mau belajar bahasa python dengan hacktiv8!! biar bisa data science~~

In [ ]:
# Title Case
print(msg.title())

Saya Mau Belajar Bahasa Python Dengan Hacktiv8!! Biar Bisa Data Science~~

In [ ]:
# sWAP cASE
print(msg.swapcase())

sAYA MAU belajar BAHASA pYTHON DENGAN hACKTIV8!! bIAR BISA dATA sCIENCE~~

In [ ]:
# aritmatik
# str + str
# str * angka

msg = "halo"

print(msg + msg + " " + "bandung")

halohalo bandung

In [ ]:
print(msg*3 + " " + "bandung")

halohalohalo bandung

# structured data types
- list
- tuple
- dictionary

## list
bagaimana kalau kita perlu menyimpan data yang lebih banyak, bukan nilai andi saja, tapi nilai 1 kelas, 10 murid.

kita bisa simpan semua nilai-nilai sekaligus ke dalam list []

In [ ]:
# CRUD
# create list
[]

nilai_kelas_A = []
print(nilai_kelas_A)
print(type(nilai_kelas_A))

[]
<class 'list'>

kita bisa juga bikin list yang sudah ada isinya

In [ ]:
# create list
nilai_kelas_A = [80, 70, 95, 98, 100]
print(nilai_kelas_A)
print(type(nilai_kelas_A))

[80, 70, 95, 98, 100]
<class 'list'>

cara membuat list adalah dengan `[]` lalu kita bisa isi data ke dalam list menggunakan `[data, data, data,]` data nya langsung, dipisah dengan ","

- sebuah list bisa menampung banyak data
- sebuah list juga bisa menampung data tipe apapun, bisa campur aduk juga
- sebuah list bahkan bisa diisi list, "nested list"

jadi setelah membuat data list yang isinya ada banyak data lain, kita juga perlu belajar cara baca 1 atau banyak data yang di dalam list.

bukan baca list saja, tapi baca isinya juga, satu satu atau banyak sekaligus

### index
list memiliki index

index adalah nomor urut dari 0

setiap nomor adalah nomor milik data di posisi tersebut

In [ ]:
# read

# mau baca nilai pertama di nilai_kelas_A
print(nilai_kelas_A)
# kita gunakan index 0 untuk ambil nilai pertama
print(nilai_kelas_A[0])
# kita bisa gunakan juga index -5 untuk bilang angka ke 5 dari belakang/ terakhir
print(nilai_kelas_A[-5])

[80, 70, 95, 98, 100]
80
80

kurung kotak yang kita gunakan untuk mengisi angka index di `nilai_kelas_A[0]` bukan list

karena keyboard kita cuma punya 3 jenis kurung [] () {}

setiap kurung memiliki lebih dari satu kegunaan.

kurung kotak digunakan untuk membuat list [] dan juga mengakses index dari list (atau tuple)

In [ ]:
# read

# mau baca nilai kedua
print(nilai_kelas_A[1])
# ke-4 dari terakhir
print(nilai_kelas_A[-4])

70
70

In [ ]:
# read

# mau baca nilai ketiga
print(nilai_kelas_A[2])
# ketiga dari terakhir
print(nilai_kelas_A[-3])

95
95

In [ ]:
# read

# mau baca nilai ke-4
print(nilai_kelas_A[3])
# kedua dari terakhir
print(nilai_kelas_A[-2])

98
98

In [ ]:
# read

# mau baca nilai ke-5, nilai terakhir
print(nilai_kelas_A[4])

print(nilai_kelas_A[-1])

100
100

untuk mengetahui ada berapa item/data/object di dalam sebuah list, kiga gunakan keyword `len`

In [ ]:
print(len(nilai_kelas_A))

5

In [ ]:
# update

print(nilai_kelas_A)

nilai_kelas_A[0] = 90

print(nilai_kelas_A)

[80, 70, 95, 98, 100]
[90, 70, 95, 98, 100]

In [ ]:
# tambahin nilai
nilai_kelas_A.append("bagus")

In [ ]:
print(nilai_kelas_A)

[80, 70, 95, 98, 100, 'bagus']

append bisa masukin data baru ke dalam list, dan dia tidak peduli pada tipe datanya

In [ ]:
# hapus nilai
nilai_kelas_A.remove("bagus")

In [ ]:
print(nilai_kelas_A)

[80, 70, 95, 98, 100]

selain remove ada juga beberapa cara lain

selain itu ada banyak juga fungsionalitas list lainnya, seperti memasukkan 2 item sekaligus, mengeluarkan beberapa item sekaligus, dan lainnya.

bisa dilihat detail dan contohnya di https://www.w3schools.com/python/python_lists.asp

kita tidak pakai semuanya, jadi boleh di coba jika tertarik

In [ ]:
# + dan * untuk list
print(nilai_kelas_A + [75])
print(nilai_kelas_A * 3)

[80, 70, 95, 98, 100, 75]
[80, 70, 95, 98, 100, 80, 70, 95, 98, 100, 80, 70, 95, 98, 100]

# Tuple
tipe data mirip list

cuma, dia tidak bisa di edit

cara bikin pakai ()

In [ ]:
# membuat tuple
buah_buahan = ("apel", "pisang", "jeruk")

# membaca tuple
print(buah_buahan) # semua

print(buah_buahan[0]) # barang pertama

print(buah_buahan[-1]) # barang terakhir

print(len(buah_buahan)) # ada berapa item di dalam

('apel', 'pisang', 'jeruk')
apel
jeruk
3

walaupun tidak bisa di append, kita bisa sedikit curang menggunakan aritmatik

dua data tuple bisa dijumlahkan,

tuple juga bisa dikalikan dengan angka

In [ ]:
buah_buahan + buah_buahan

('apel', 'pisang', 'jeruk', 'apel', 'pisang', 'jeruk')

In [ ]:
buah_buahan * 3

('apel',
 'pisang',
 'jeruk',
 'apel',
 'pisang',
 'jeruk',
 'apel',
 'pisang',
 'jeruk')

## dictionary
ada saatnya kita mau lebih banyak informasi daripada angka urut saja.

kita mau menggunakan keyword untuk memanggil data tertentu.

contohnya nilai_kelas_A, daripada kita bilang nilai pertama index 0 nilanya berapa, kan lebih mudah kita bilang nilai Andi berapa, nilai Budi berapa. ada caranya kita bisa ubah index angka jadi text --> dictionary

dictionary itu kamus, keyword selalu text, string.

valuenya bebas, int float str bool list tuple dict

### Create Dictionary
dibuat dengan menggunakan {}

In [ ]:
# create dictionary
nilai_kelas_A = {"andi": 80, "budi": 90, "cindy":95, "dendy":100, "edgar":63}

# read
print(nilai_kelas_A) # seluruh dictionary
print(nilai_kelas_A["andi"]) # print punya andi aja

{'andi': 80, 'budi': 90, 'cindy': 95, 'dendy': 100, 'edgar': 63}
80

In [ ]:
# update
nilai_kelas_A["andi"] = 75

print(nilai_kelas_A) # seluruh dictionary
print(nilai_kelas_A["andi"]) # print punya andi aja

{'andi': 75, 'budi': 90, 'cindy': 95, 'dendy': 100, 'edgar': 63}
75

In [ ]:
# delete
nilai_kelas_A["andi"] = 0

print(nilai_kelas_A) # seluruh dictionary
print(nilai_kelas_A["andi"]) # print punya andi aja

{'andi': 0, 'budi': 90, 'cindy': 95, 'dendy': 100, 'edgar': 63}
0

### latihan pendek
cobalah membuat:
- list buah buahan
  - tambahin 3 buah di dalam
  - coba baca buah terakhir dan di print
  - coba ubah buah terakhir menjai UPPER dengan teknik .upper() dari string
- dictionary buah buahan harga
  - coba buat dictionary dengan 3 buah dan value adalah harga
  - coba ubah harga buah kedua menjadi 2 kali lipat

In [ ]:
# membuat list buah buahan
buah_buahan = ["kelapa", "nangka", "duku"] # tambah 3 buah di dalam

# baca buah terakhir
buah_terakhir = buah_buahan[-1]
print(buah_terakhir, "buah terakhir")

jumlah_buah = len(buah_buahan)
index_terakhir = jumlah_buah - 1
print(buah_buahan[index_terakhir], "juga buah terakhir")

print(jumlah_buah, "jumlah buah")
print(index_terakhir, "index terakhir")

duku buah terakhir
duku juga buah terakhir
3 jumlah buah
2 index terakhir

In [ ]:
# ubah buah terakhir jadi UPPER
buah_terakhir.upper()

# buah_buahan[-1] = buah_buahan[-1].upper()
buah_buahan[-1] = buah_terakhir.upper()

In [ ]:
print(buah_buahan)

['kelapa', 'nangka', 'DUKU']

In [ ]:
# bikin dictionary buah buahan
buah_buahan = {"kelapa":10000, "nangka": 25000, "duku": 25000}
print(buah_buahan)

{'kelapa': 10000, 'nangka': 25000, 'duku': 25000}

In [ ]:
# buah kedua kita ubah value menjadi 2 kali lipat
# buah kedua adalah nangka

harga_awal = buah_buahan["nangka"]
harga_baru = harga_awal * 2
buah_buahan["nangka"] = harga_baru

print(harga_awal, "harga awal")
print(harga_baru, "harga baru")
print(buah_buahan["nangka"])

25000 harga awal
50000 harga baru
50000

In [ ]:
print(buah_buahan)

{'kelapa': 10000, 'nangka': 50000, 'duku': 25000}